<%- include('../partials/header') %>

<h1>Details Page</h1>

<% if (pokemon) { %>
    <p> Displaying Pokemon Info</p>
    <%= pokemon.flavor_text_entries[0].flavor_text %>
    <% if (sprite) { %>
    <img src="<%= sprite.sprites.front_default%>">
  <% } %>
  <% } %>

<%- include('../partials/footer') %>