<%- include('../partials/header') %>
  <body class="container">
    <h1 class="jumbotron text-center">Pokedex</h1>
        <% if (poke) { %>
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h2><% poke.forEach ((p) => { %></h2>
              <%= p.name %>
              <a href="pokemon/details">Pokemon Details</a>
              <% }) %>
            </div> 
          </div>
        <% } else { %>
          <h3 class="text-center text-info">
            Click the button and get a poke
          </h3>
        <% } %>
<%- include('../partials/footer') %>