body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  display: block;
}

.HomePageTitle {
  text-align: center;
  font-size: 50px;
  color: #bd5c17;
  font-family: 'Eczar', serif;
}

.pokeball {
  margin-right: 20px;
  margin-top:0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jumboContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  align-self: center;
  max-width: 1000px;
  padding: 15px;
  background-color: black;
  border-radius: 2%;
}

.MainPokemons {
  padding: 20px;
  align-items: center ;
}

nav {
  display: block;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.cardDetail {
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  background-color: rgb(245, 245, 245);
  border-radius: 7%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}
.pokes {
  position: absolute;
  margin: 20px;
  padding: 30px;
  background-color: black;
  border-radius: 2%;
}
.flavor {
  position: absolute;
  margin-top: 180px;
  max-width: 180px;
  padding: 10px;
  text-align: center;
  align-content: center;
}
.FullCard {
  display: inline;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card {
  display: block;
  background-color: aqua;
  align-self: center;
  margin-left: 50px;
  text-align: center;
}
.PokeContainer {
  margin-top: auto;
  background-image: url("https://previews.dropbox.com/p/thumb/AB3iMzpx8ZnyCA8hTzrDb3zwyvzB4q7e8R8ECwahQ4izEVV9QuokZdwNvBJBayJC3Osz8YQF5yPTL3hXpR79Tg2wdJ63bxKC8Af_KZWce2XmxCoNBg6mGFuUfItS-ScbwzrTBgGLUmeRQ862FmjH1q2QCNSh6vW9CRFSzUp-YiM7Eh2wp_1fKIqcy881cnasOZv4HjfugoN0Gdyge0guoXqoZq6wexDJ0Cw1E8e6WILN_MdjcPLXpPIMmg86aMRUqa7endbAwCvDzXjeTtFMMF5m8ChMIefXjwVD_6ltxptegjNkIdoX4FvmnGW0t0gVYkg4ZtwZoHifr9IH42FEE4fXygrKnRYBhUPTQCqxE4VzD-PAb4G3Y6eHdQmBQ-liAe0/p.png");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 652px;
  width: 405px;
}

.personalView {
  position: relative;
  width: 200px;
  height: 150px;
  display: block;
  align-content: center;
  align-items: center;
  overflow: scroll;
}
.ADDBUTTON {
  position: absolute;
  margin-top: 500px;
}