<%- include('../partials/header') %>
<p>HELLO POKEDEX<p>
<%= pokedex.pokedexName %>

<% if (pokedex.userName === user.name) { %>
<button ><a href="/pokedex/<%= pokedex.id%>/pokemon">Add Pokemon</a></button>



<% } %>

<%- include('../partials/footer') %>