<%- include('../partials/header') %>

<h1>Update Your Pokedex Name</h1>

<form action="/pokedex/<%= user.pokedex %>/edit" method="POST">
  <label>New Pokedex Name:
    <input type="text" placeholder="Enter New Pokedex Name" name="pokedexName">
  </label>
  <button type="submit">Update Pokedex Name</button>
</form>


<br><br><br><br>

<form action="/pokedex?_method=DELETE" method="POST">
  <button class="DELPOKBUTTON" type="submit">Delete Your Pokedex</button>
</form>

<%- include('../partials/footer') %>